form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


input.ng-invalid.ng-dirty {
    border-width: 3px;
    border-style: solid;
    border-color: red;
}

.error-message {
    color: red;
}
