<form [formGroup]="myForm" (ngSubmit)="send(myForm)">

    <span formGroupName="personalData">

        <div>
            <label>
                Name:
                <input type="text" formControlName="name">
            </label>
        </div>
        <div>
            <label>
                Street:
                <input type="text" formControlName="street">
            </label>
        </div>
        <div>
            <label>
                Email:
                <input type="text" formControlName="email">
            </label>
        </div>
    </span>

    <button type="submit">Send</button>
</form>