<mat-toolbar class="toolbar-style">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <!-- https://tburleson-layouts-demos.firebaseapp.com/#/docs -->
        <div fxLayout="row">
            <button mat-button>
                <span class="logo">Navbar Header Demo</span>
            </button>
            <div *ngIf="!deviceXS">
                <button #navButton mat-button>Home</button>
                <button #navButton mat-button>About</button>
                <button #navButton mat-button>Contact</button>               
            </div>
        </div>
        <div>           
            <button *ngIf="deviceXS" (click)="toggleMenu()" mat-icon-button>
                <mat-icon #toggleButton  class="burger-menu" aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="menuVisible" fxLayoutAlign="space-between end">
        <button #navButton mat-button>Home</button>
        <button #navButton mat-button>About</button>
        <button #navButton mat-button>Contact</button>       
    </mat-toolbar-row>
</mat-toolbar>